.box {
    width: 200px;
    height: 200px;
}

.box1 {
    background-color: antiquewhite;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg6CaLLiHpbn_YorW5iCJ5G6u4Xilneidpg75z4rchygS4d8SgB0Zx9Scc5pIRYEaPchY&usqp=CAU);    
    background-size: contain;
    background-repeat: no-repeat;
}

.box2 {
    background-color: lightslategray;
    background-image: url(https://wallpapers.com/images/hd/aesthetic-cute-profile-pictures-l8x487ymnsv8xqzc.jpg);
    background-size: cover;
}

.box3 {
    background-color: lightblue;
    background-image: url(https://i0.wp.com/wallpapers.com/images/hd/pretty-profile-pictures-2tkqwa8t2rolierf.jpg?ssl=1);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: top;
    height: 500px;
    width: 500px;
}
