.home-layout{
    display: grid;
    /* grid-template-rows: 100px;
    grid-template-columns: 1fr 1fr 2fr; */
    /* grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: 100px 100px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.panel-box{
    background-color: darkolivegreen;
}

.box1{
    grid-column: 1 / span 2;
    background-color: lightseagreen;
}

/* .box2{
    grid-column: 2;
    grid-row: 1;
    background-color: plum;
} */

.box2{
    grid-column: 2;
}

.box3{
    grid-column: 3;
    grid-row: 1 / span 2;
    background-color: blue;
}

.box4{
    grid-column: 1;
    grid-row: 2;
}