@font-face {
    font-family: "KohSantepheap";
    src: url("../font/KohSantepheap-Black.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "KohSantepheap";
    src: url(../font/KohSantepheap-Thin.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: "KohSantepheap";
    src: url(../font/KohSantepheap-Light.ttf);
    font-weight: normal;
}

*{
    font-family:"KohSantepheap" ;
}

h3 {
    font-weight: bold;
}

p {
    font-weight: normal;
}