table {
    width: 80%;
    margin: auto;
    height: 50vh;
    text-align: center;
}
table, td, th{
    border-collapse: collapse;
    border: 1px solid gray;
}

thead {
    background-color:green;
    height: 2.5rem;
    color: white;
    }

tbody tr:nth-child(odd){
    background-color: whitesmoke;
}

tbody tr:nth-child(even){
    background-color: white;
}

