:root{
    --text-white: #fff;
    --text-darkblue: darkblue;
}

.wrapper{
    width: 90%;
    margin: auto;
    gap: 10px;
    font-family: Open Sans, Arial, Helvetica, Sans-serif;
    font-size: 16px;
    
}

.panel-primary{
    background-image: url(https://gridbyexample.com/img/inflicted.png);
    color: var(--text-white);
    padding: 20px;
    border: 1px solid #999;
    border-radius: 3px;
}

.panel-box{
    background-image: url(https://gridbyexample.com/img/tiny_grid.png);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 1rem;
    position: relative;

}

@media (min-width: 640px) {
    .home-layout{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        
    }
    
    .panel-primary{
        grid-column: 1 / span 3;
    }

    .panel-a{
        grid-column: 4 / span 2;
    }

    .homepage-bar {
        grid-column: 1 / -1;
        background-color: #5e35b1;
        color: white;
        padding: 20px;
    }

    .panel-b {
        grid-column: 1 / span 2;
    }

    
    .panel-c {
        grid-row: 3;
        grid-column: 3 / span 3;
    }

    .panel-d {
        grid-row: 4;
        grid-column: 1 / span 3;
    }

    .panel-e {
        grid-row: 4;
        grid-column: 4 / span 2;
    }

    .panel-f {
        grid-row: 5;
        grid-column: 1 / span 3;
    }

    .panel-g {
        grid-row: 5;
        grid-column: 4;
    }

    .panel-h {
        grid-row: 5;
        grid-column: 5;
    }

    .panel-i {
        grid-column: 1 / -1;
    }
}